<h1 style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 1.2em; color: #364656'>{% block header %} TUNA Issues {% endblock %}</h1>

{% block content %}{% endblock %}

<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 1em;'>Regards,</p>

<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 1em;'><b>{{ queue.title }}</b>{% if queue.email_address %}<br><a href='mailto:{{ queue.email_address }}'>{{ queue.email_address }}</a>{% endif %}</p>
    
<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: .8em; color: #808080;' color='#808080'>This e-mail was sent to you as a user of our support service, in accordance with our privacy policy. Please advise us if you believe you have received this e-mail in error.</p>
