{% load i18n %}{% load url from future %}
{% load load_helpdesk_settings %}
{% with request|load_helpdesk_settings as helpdesk_settings %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block helpdesk_title %}{% trans "TUNA" %}{% endblock %} :: TUNA Issues </title>
<script src="{{ STATIC_URL }}jquery/jquery-1.11.1.min.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
<link rel='stylesheet' href='{{ STATIC_URL }}helpdesk/helpdesk-extend.css' type='text/css' />
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
{% block helpdesk_head %}{% endblock %}
</head>
<body id="helpdesk-body">
<div id='container' class="container">
    <div id='header' class="row">
        <!-- Put your logo here if necessary: -->
        <!-- <img class="brand pull-right" src="/media/logo.png"> -->
        <h1>{% trans "TUNA Issues" %}</h1>
        {% include "helpdesk/navigation.html" %}
    </div>
    <div id='body' class="row">
{% block helpdesk_body %}{% endblock %}
    </div>
    <div id='footer' class="row">
        <p>{% include "helpdesk/attribution.html" %}</p>
    </div>
</div>{% include "helpdesk/debug.html" %}
{% block helpdesk_tail %}{% endblock %}
</body>
</html>
{% endwith %}
